<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Cabin|Merriweather" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<div class = "info">
  <h3 id="summary-txt"> Summary </h3>
  <div class = "tables">
    <table id = "t01" class="table table-bordered table-dark">
      <thead>
      <tr>
        <th scope="col"> Previous High / Low </th>
        <th scope="col"> {{val | safe}} Month High / Low </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> {{day_high | safe}} / {{day_low| safe}} </td>
        <td> {{month_high | safe}} / {{month_low | safe}} </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class = "tables">
    <table id = "t02" class="table table-bordered table-dark">
      <thead>
      <tr>
        <th scope="col"> {{val | safe}} Month Return </th>
        <th scope="col"> Simple Moving Average </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> {{return_month | safe}}% </td>
        <td> {{moving_avg | safe}} </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</html>